* {
    box-sizing: border-box;
    margin: 0;
    font-family: cursive;
}

body {
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    background-color: hsl(278, 65%, 10%);
    color: white;
    flex-direction: column;
}

.card {
    height: 400px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid;  */
}

.image-box {
    width: 150px;
    height: 150px;
    background-size: cover;
    border-radius: 50%;
    background-image: url(ko\ rean.jpg);
    box-shadow: 0 0 2em 0 hsl(278, 65%, 60%);

}

.name {
    font-size: 1.5em;
}

.role {
    font-size: 1.2em;
}

.skills {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.skill {
    padding: .25em .75em;
    border-radius: 100px;
    letter-spacing: 1px;
    background-color: white;
    color: hsl(278, 65%, 30%);
    box-shadow: 0 0 .5em 0 hsl(278, 65%, 30%);
    font-weight: bold;
}

.personal-details {
    text-align: center;
}

.role {
    color: hsl(278, 65%, 30%);
}

.instructions {
    position: absolute;
    top: 30px;
    align-self: flex-start;
    margin-left: 20px;
    background-color: white;
    color: hsl(278, 65%, 30%);
    padding: .5em;
    border-radius: .5em;
}

.instructions * {
    font-family: monospace;
    font-size: 1.1rem;    
}