/* Header */

header {
    height: 30vh;
    width: fit-content;
    margin: 10vh auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

header h2 {
    font-size: 3rem;
}

header .catchers {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    font-size: 2rem;
    color: blue;
} 

header .dots {
 letter-spacing: 10px;
}

header p:last-child {
    font-size: 1.75rem;
}

main {
    margin: 100px 40px;
}

section.product-section {
    margin: 100px 0;
    display: flex;
    height: 85vh;    
}

.section-text {
    width: 40%;
}

.product-header {
    font-size: 2rem;
    letter-spacing: 2px;
    border-left: 5px solid blue;
    padding-left: 10px;
    margin: 10px;
}

.section-text ul li {
    font-size: 1.25rem;
    margin: 1em;
}

.section-gallery {
    width: 60%;
    /* background-color: red; */
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    justify-content: center;
    box-shadow: 0 0 .5em 0 grey;
    border-radius: 1em;
}

.product-image-container {
    margin: 5px;
}

.product-image-container-1 {
    grid-row: span 2;
}

.product-image-container-2 {
    grid-column: span 2;
    grid-row: span 2;
}

.product-image-container-3 {
    grid-column: span 2;

}

.product-image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
/* curtains and blinds */