* {
    box-sizing: border-box;
    margin: 0;
    color: white;
}

body {
    background-color: hsl(250, 100%, 50%);
    min-height: 200vh;
}

nav {
    height: 10vh;
    background-color: hsl(250, 100%, 25%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    font-size: 2em;
    z-index: 1;
}

.card {
    background-color: hsl(250, 100%, 15%);
    height: 30vh;
    width: 30vh;
    position: relative;
    top: 50vh;
    margin: 0 auto;
    border-radius: .5em;
    color: white;
    padding: 5px;
}

.close {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    right: 5px;
}