.header-title {
    text-align: center;
    color: brown;
}

.subtitle {
    text-align: center;
    color: grey;
}

.personal {
    background-color: green;
}

.section-title {
    font-family: Arial; 
}

.cross {
    text-decoration: line-through;
}

.contact-title {
    color: green;
}