* {
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    margin: 0;
    background-color: rgb(240, 242, 245);
}

h1 {
    text-align: center;
    color: hsl(214, 89%, 47%);
    font-size: 3em;
    letter-spacing: .1em;
    font-family: serif;
}

form {
    width: 450px;
    min-height: 450px;
    margin: 0 auto;
    margin-top: 5vh;

    background-color: white;
    padding: .5em;
    border-radius: .5em;
}

form * {
    display: block;
    margin: 1.5rem auto;
}

form input, form button {
    font-size: 1.3rem;
    border-radius: .3em;
}

form input {
    height: 4rem;
    width: 90%;
    padding-left: .5em;
    border: 2px solid hsl(216, 20%, 85%);
    outline: none;
}

form input:focus {
    border: none;
    border-bottom: 2px solid hsl(214, 89%, 47%);
    border-radius: 0;
}

/* input:not(:placeholder-shown) {
    border-color: hsl(214, 89%, 47%);
} */

form button {
    height: 3.75rem;
    width: 90%;
    border: none;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    cursor: pointer;
}

.login {
    background-color: hsl(214, 89%, 52%);
}

.login:hover {
    background-color: hsl(214, 89%, 47%);
}

.signup {
    width: 60%;
    background-color: hsl(110, 63%, 44%);
}

.signup:hover {
    background-color: hsl(110, 63%, 39%);
}

.horizontal-line {
    width: 90%;
    border-bottom: 1px solid grey;
}

a.forgot {
    color: hsl(214, 89%, 47%);
    text-decoration: none;
    text-align: center;
}