* {
    box-sizing: border-box;
    margin: 0;
}

nav {
    height: 10vh;
    background-color: hsl(273, 59%, 30%);
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 2em;
}

nav .brand {
    letter-spacing: .1em;
    font-size: 1.75rem;
    font-weight: normal;
    color:hsl(273, 59%, 80%);
    flex-grow: 1;
}

nav .links {
    flex-grow: 3;
    display: flex;
    justify-content: space-around;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

nav .actions {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
}

.get-started {
    font-size: 1.1rem;
    border: 2px solid hsl(273, 59%, 50%);
    border-radius: .25em;
    padding: .5em 1em;
    background-color: hsl(273, 59%, 50%);
    color: white;
}

main {
    height: 90vh;
    /* background-color: hsl(273, 59%, 30%); */
    display: flex;
}

.instructions {
    font-size: 1.5rem;
    line-height: 1.5;
    display: initial;
    margin: 50px auto 0 auto;
    width: 70%;
}

.instructions > :nth-child(-n + 2) {
    text-align: center;
}

.instructions > :nth-child(2) {
    color: gray;
}


