* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-color: black; */
}

.box {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 500px;
    box-shadow: 0 0 .5em 0 grey;
    padding: 1.5em;
    justify-content: space-evenly;
}

.top {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.circle {
    height: 100px;
    width: 100px;
    background-color: green;
    border-radius: 50%;
}

.top-right :first-child {
    font-size: 2em;
}

.top-right :last-child {
    font-size: 1.25em;
}

.bottom {
    text-align: center;

}